$border_size: 5px;
$border_color: #000;

@mixin partial-border($side, $size, $offset, $color: $border-color) {
	// @include partial-border-#{$side}($size, $offset, $color);
	@if $side == "left" {
		@include partial-border-left($size, $offset, $color);
	}
	@if $side == "top" {
		@include partial-border-top($size, $offset, $color);
	}
	@if $side == "right" {
		@include partial-border-right($size, $offset, $color);
	}
	@if $side == "bottom" {
		@include partial-border-bottom($size, $offset, $color);
	}
}

@mixin partial-border-left($size, $offset, $color) {
	.border-left {
		content: "";
		position: absolute;
		border-left: $border_size solid $color;
		left: 0%;
		top: $offset;
		// right: 0%;
		bottom: (100% - ($offset + $size));
	}
}
@mixin partial-border-top($size, $offset, $color) {
	&:before {
		content: "";
		position: absolute;
		border-top: $border_size solid $color;
		left: $offset;
		top: 0%;
		right: (100% - ($offset + $size));
		// bottom: 0%;
	}
}
@mixin partial-border-right($size, $offset, $color) {
	.border-right {
		content: "";
		position: absolute;
		border-right: $border_size solid $color;
		// left: 0%;
		top: $offset;
		right: 0%;
		bottom: (100% - ($offset + $size));
	}
}
@mixin partial-border-bottom($size, $offset, $color) {
	&:after {
		content: "";
		position: absolute;
		border-bottom: $border_size solid $color;
		left: $offset;
		// top: 0%;
		right: (100% - ($offset + $size));
		bottom: 0%;
	}
}