html {
  height: 100%; }

body {
  font-family: "Segoe UI", Calibri, Tahoma, sans-serif;
  font-size: 100%; }

h1 {
  font-variant: small-caps;
  font-size: 300%; }

a {
  text-decoration: none;
  color: inherit; }

.implied {
  display: none; }

* {
  margin: 0px;
  padding: 0px;
  position: relative; }

body {
  height: 100%; }

h1 {
  font-size: 1.5em; }

footer {
  display: none;
  font-size: 90%;
  color: #999; }

.code {
  font-family: consolas, monospace;
  border-radius: 4px;
  background-color: #ddd;
  padding: 1px; }

.container {
  padding: 0.4%; }

#content {
  height: 100%; }

#name {
  font-size: 1.67em;
  text-align: center;
  width: 24%;
  border: 5px solid black; }

#edu {
  width: 32%; }

#work {
  text-align: right;
  width: 40%; }

#skill {
  width: 16%; }

#proj {
  width: 32%; }

#award {
  text-align: center;
  width: 16%; }

#return {
  display: none; }
