html {
  height: 100%; }

body {
  color: #444;
  font-family: "Segoe UI", Calibri, Tahoma, sans-serif;
  font-size: 100%;
  overflow: auto; }

h1 {
  font-variant: small-caps;
  font-size: 300%; }

h2 {
  font-weight: bold;
  font-size: 110%; }

ul li {
  display: block;
  padding-bottom: 6px;
  text-align: justify; }

li:before {
  content: "- "; }

a {
  text-decoration: none;
  color: inherit; }

footer {
  clear: both; }

.implied {
  display: none; }

* {
  margin: 0px;
  padding: 0px; }

body {
  padding: 1%;
  width: 80%;
  margin: 10px auto; }

@media all and (min-width:800px) {
  body {
    width: 70%; } }
@media all and (min-width:1200px) {
  body {
    width: 60%; } }
@media all and (max-width:799px) {
  body {
    width: 85%; } }
header {
  display: inline;
  font-size: 200%; }

#return {
  display: none;
  float: right; }

#sep {
  border-top: 5px solid #000; }

section {
  padding: 1% 0% 1% 1%;
  width: 88%;
  float: left; }
  section p {
    width: 90%;
    margin: 0px auto;
    line-height: 125%; }

nav {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 10%;
  height: 100%;
  float: left;
  border-right: 1px dotted #ddd; }

.nav-item {
  padding: 7%;
  -webkit-transition: background .5s ease, color .5s ease;
  text-align: right; }
  .nav-item:hover {
    background-color: #ddd;
    color: #000;
    -webkit-transition: background .5s ease, color .5s ease; }

.selected {
  color: #fff;
  background-color: #000; }

#graphic, #page-text {
  width: 80%;
  margin: 0% auto; }

#page-text {
  padding: 2% 0%; }

.code {
  font-family: consolas, monospace;
  border-radius: 4px;
  background-color: #ddd;
  padding: 1px; }

footer {
  float: left;
  width: 100%;
  padding: 2% 0px;
  text-align: right;
  font-size: 90%;
  color: #999;
  border-top: 1px dotted #ddd; }
