html {
  height: 100%; }

body {
  color: #444;
  font-family: "Segoe UI", Calibri, Tahoma, sans-serif;
  font-size: 100%;
  overflow: auto; }

h1 {
  font-variant: small-caps;
  font-size: 300%; }

h2 {
  font-weight: bold;
  font-size: 110%; }

ul li {
  display: block;
  padding-bottom: 6px;
  text-align: justify; }

li:before {
  content: "- "; }

a {
  text-decoration: none;
  color: inherit; }

footer {
  clear: both; }

.implied {
  display: none; }

* {
  margin: 0px;
  padding: 0px;
  position: relative; }

body {
  height: 100%;
  margin: 10px; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1em;
  font-weight: bold;
  display: inline-block; }

li {
  display: block;
  padding-left: 8px; }

footer {
  display: none;
  font-size: 90%;
  color: #999; }

.code {
  font-family: consolas, monospace;
  border-radius: 4px;
  background-color: #ddd;
  padding: 1px; }

#return {
  display: none; }
