html {
  height: 100%; }

body {
  color: #444;
  font-family: "Segoe UI", Calibri, Tahoma, sans-serif;
  font-size: 100%;
  overflow: auto; }

h1 {
  font-variant: small-caps;
  font-size: 300%; }

h2 {
  font-weight: bold;
  font-size: 110%; }

ul li {
  display: block;
  padding-bottom: 6px;
  text-align: justify; }

li:before {
  content: "- "; }

a {
  text-decoration: none;
  color: inherit; }

footer {
  clear: both; }

.implied {
  display: none; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  height: 100%; }

h1 {
  font-size: 1.5em; }

footer {
  display: none;
  font-size: 90%;
  color: #999; }

.code {
  font-family: consolas, monospace;
  border-radius: 4px;
  background-color: #ddd;
  padding: 1px; }

.container {
  position: absolute;
  padding: 0.45% 0.8%;
  -webkit-transition: color .5s ease; }
  .container:hover {
    color: #000;
    -webkit-transition: color .5s ease; }

#content {
  height: 100%;
  background-color: #f6f6f6; }

#name {
  font-size: 1.67em;
  text-align: center;
  width: 27%;
  height: 18%;
  top: 41%;
  left: 36.5%;
  border-right: 5px solid #333333; }
  #name .border-left {
    content: "";
    position: absolute;
    border-left: 5px solid #333333;
    left: 0%;
    top: 0%;
    bottom: 0%; }
  #name:after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #333333;
    left: 0%;
    right: 0%;
    bottom: 0%; }
  #name h1 {
    width: 100%;
    height: 100%;
    vertical-align: middle; }

#edu {
  height: 27%;
  width: 36%;
  top: 41%;
  left: 0.5%; }
  #edu:before {
    content: "";
    position: absolute;
    border-top: 5px solid #333333;
    left: 0%;
    top: 0%;
    right: 75%; }
  #edu .border-left {
    content: "";
    position: absolute;
    border-left: 5px solid #333333;
    left: 0%;
    top: 0%;
    bottom: 0%; }
  #edu:after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #333333;
    left: 0%;
    right: 75%;
    bottom: 0%; }

#work {
  text-align: right;
  height: 27%;
  width: 45%;
  top: 14%;
  left: 45.5%; }
  #work:before {
    content: "";
    position: absolute;
    border-top: 5px solid #333333;
    left: 70%;
    top: 0%;
    right: 0%; }
  #work .border-left {
    content: "";
    position: absolute;
    border-left: 5px solid #333333;
    left: 0%;
    top: 0%;
    bottom: 0%; }
  #work:after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #333333;
    left: 0%;
    right: 0%;
    bottom: 0%; }
  #work .border-right {
    content: "";
    position: absolute;
    border-right: 5px solid #333333;
    top: 0%;
    right: 0%;
    bottom: 83%; }

#skill {
  height: 36%;
  width: 18%;
  top: 41%;
  left: 63.5%; }
  #skill:after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #333333;
    left: 75%;
    right: 0%;
    bottom: 0%; }
  #skill .border-right {
    content: "";
    position: absolute;
    border-right: 5px solid #333333;
    top: 66%;
    right: 0%;
    bottom: 1%; }

#proj {
  text-align: right;
  height: 27%;
  width: 36%;
  top: 59%;
  left: 27.5%; }
  #proj .border-left {
    content: "";
    position: absolute;
    border-left: 5px solid #333333;
    left: 0%;
    top: 50%;
    bottom: 0%; }
  #proj:after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #333333;
    left: 0%;
    right: 50%;
    bottom: 0%; }
  #proj .border-right {
    content: "";
    position: absolute;
    border-right: 5px solid #333333;
    top: 0%;
    right: 0%;
    bottom: 0%; }

#award {
  text-align: center;
  height: 18%;
  width: 18%;
  top: 23%;
  left: 27.5%; }
  #award:before {
    content: "";
    position: absolute;
    border-top: 5px solid #333333;
    left: 0%;
    top: 0%;
    right: 75%; }
  #award .border-left {
    content: "";
    position: absolute;
    border-left: 5px solid #333333;
    left: 0%;
    top: 0%;
    bottom: 75%; }
  #award:after {
    content: "";
    position: absolute;
    border-bottom: 5px solid #333333;
    left: 0%;
    right: 0%;
    bottom: 0%; }

#return {
  display: none; }
