html {
  height: 100%; }

body {
  color: #444;
  font-family: "Segoe UI", Calibri, Tahoma, sans-serif;
  font-size: 100%;
  overflow: auto; }

h1 {
  font-variant: small-caps;
  font-size: 300%; }

h2 {
  font-weight: bold;
  font-size: 110%; }

ul li {
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

footer {
  clear: both; }

.implied {
  display: none; }

* {
  margin: 0px;
  padding: 0px; }

body {
  height: 100%;
  background-color: #606060; }

h1 {
  font-size: 1.5em; }

footer {
  padding-top: 5px;
  font-size: 90%;
  color: #bbb; }

.code {
  font-family: consolas, monospace;
  border-radius: 4px;
  background-color: #ddd;
  padding: 1px; }

.container {
  padding: 0.45% 0.8%;
  background-color: #ccc;
  border-radius: 5px;
  -webkit-transition: color .5s ease; }
  .container:hover {
    color: #000;
    -webkit-transition: color .5s ease; }
  .container h2 {
    float: left; }
  .container h4 {
    float: right;
    clear: right;
    font-style: italic;
    font-weight: normal;
    color: #666; }
  .container h6 {
    clear: both;
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
    padding-bottom: 6px; }
  .container section {
    padding-left: 8px; }
  .container ul, .container ol {
    clear: both; }

.open {
  width: 89%;
  -webkit-transition: width .75s ease; }

.closed {
  width: 10%;
  -webkit-transition: width .75s ease; }
  .closed section {
    color: rgba(0, 0, 0, 0); }

.content-table {
  display: table;
  width: 100%; }

.left {
  margin: 4px 0%;
  display: table-cell;
  height: 135px;
  clear: left; }

.right {
  margin: 4px 0%;
  display: table-cell;
  height: 135px;
  clear: right; }

.full {
  width: 100%;
  clear: both; }

#content {
  width: 60%;
  height: 100%;
  margin: 0% auto; }

#row-1, #row-2 {
  display: table-row;
  width: 100%;
  height: 20%; }

#name {
  margin: 1% 0% 2px;
  padding: .5% 0%;
  width: 100%;
  font-size: 1.67em;
  text-align: center;
  color: #606060;
  background-color: rgba(204, 204, 204, 0.5);
  -webkit-transition: background .75s ease, color .75s ease; }
  #name:hover {
    color: #000;
    background-color: #ccc;
    -webkit-transition: background .75s ease, color .75s ease; }
  #name h1 {
    width: 100%;
    height: 100%; }

#why {
  text-align: center; }

#return {
  display: none; }
