@import "base";
@import "simple";

* {
	margin: 0px;
	padding: 0px;
	// box-sizing: border-box;
}
body {
	height: 100%;
	// background-color: #f6f6f6;
	background-color: #606060;
}
h1 {
	font-size: 1.5em;
}
footer {
	padding-top: 5px;
	font-size: 90%;
	color: #bbb;
}


// .class

.code {
	font-family: consolas, monospace;
	border-radius: 4px;
	background-color: #ddd;
	padding: 1px;
}
.container {
	// margin: 2px 0px;
	padding: $grid_pad_h $grid_pad_w;
	background-color: #ccc;

	border-radius: 5px;

	-webkit-transition: color .5s ease;

	&:hover {
		color: #000;

		-webkit-transition: color .5s ease;
	}
	h2 {
		float: left;
	}
	h4 {
		float: right;
		clear: right;
		font-style: italic;
		font-weight: normal;
		color: #666;
	}
	h6 {
		clear: both;
		font-size: 100%;
		font-style: italic;
		font-weight: normal;
		padding-bottom: 6px;
	}
	section {
		padding-left: 8px;
	}
	ul, ol {
		clear: both;
	}
}
.open {
	width: 89%;
	-webkit-transition: width .75s ease;
}
.closed {
	width: 10%;
	-webkit-transition: width .75s ease;

	section {
		color: rgba(0,0,0,0);
	}
}
.content-table {
	display: table;
	width: 100%;
}
.left {
	margin: 4px 0%;
	display: table-cell;
	// float: left;
	height: 135px;
	clear: left;
}
.right {
	margin: 4px 0%;
	display: table-cell;
	height: 135px;
	// float: right;
	clear: right;
}
.full {
	width: 100%;
	clear: both;
}
// #id

#content{
	width: 60%;
	height: 100%;
	margin: 0% auto;
}
#row-1, #row-2 {
	display: table-row;
	width: 100%;
	height: 20%;
}
#name {
	margin: 1% 0% 2px;
	padding: .5% 0%;
	width: 100%;
	font-size: 1.67em;
	text-align: center;

	color: #606060;
	// color: #000;
	background-color: rgba(204,204,204,0.5);

	// border: $border_size solid $border_color;
	// @include partial-border(top,100%,0%);
	// @include partial-border(left,100%,0%);
	// @include partial-border(bottom,100%,0%);
	// // @include partial-border(right,100%,0%);
	// border-right: $border_size solid $border_color;
	-webkit-transition: background .75s ease, color .75s ease;

	&:hover {
		color: #000;
		// color: #606060;
		background-color: #ccc;
		-webkit-transition: background .75s ease, color .75s ease;		
	}
	h1 {
		width: 100%;
		height: 100%;
	}
}
#edu {
	// @include partial-border(top,25%,0%);
	// // border-left: $border_size solid $border_color;
	// @include partial-border(left,100%,0%);
	// @include partial-border(bottom,25%,0%);
	// // @include partial-border(right,66%,0%);
}
#work {
	// @include partial-border(top,30%,70%);
	// @include partial-border(left,100%,0%);
	// @include partial-border(bottom,100%,0%);
	// // border-left: $border_size solid $border_color;
	// // border-bottom: $border_size solid $border_color;
	// @include partial-border(right,17%,0%);
}
#skill {
	// border-top: $border_size solid $border_color;
	// border-left: $border_size solid $border_color;
	// @include partial-border(top,100%,0%);
	// @include partial-border(left,100%,0%);
	// @include partial-border(bottom,25%,75%);
	// @include partial-border(right,33%,66%);	
}
#proj {
	// @include partial-border(top,75%,25%);
	// @include partial-border(left,50%,50%);
	// @include partial-border(bottom,50%,0%);
	// // border-right: $border_size solid $border_color;
	// @include partial-border(right,100%,0%);
}
#why {
	text-align: center;
}
#return {
	display: none;
}