---
layout: default
title: Syntax Optional
---

{% for post in site.posts limit:3 %}

	{% if forloop.first %}
		{% assign class = 'container post' %}
	{% else %}
	   {% assign class = 'container post separator' %}
	{% endif %}

	<article class="{{class}}">

		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<div class="post-meta span-3">
			<a href="{{ post.url }}" class="pill"><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %d, %Y" }}</time></a>
			<div class="tag-cloud">
				<ul>
					{% for tag in post.tags %}
						{% assign lclass = '' %}
						{% if forloop.first %}
							{% assign lclass = 'first-tag' %}
						{% endif %}
						{% if forloop.last %}
							{% capture lclass %}{{lclass}} last-tag{% endcapture %}
						{% endif %}
						{% capture lclass %}{{lclass}} {% cycle 'tag1', 'tag2' %}{% endcapture %}
						<li class="{{lclass}}">{{tag}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="post-content span-15 last">
			{{ post.content }}
		</div>
	</article>

{% endfor %}

<div class='container post'><h2><a href="/posts">More...</a></h2></div>
