<div id="work-dy" class="container med-w med-h mason">
	<header>
		<h2>DynamX Consulting</h2>
		<h4>Technical Analyst</h4>
		<h6>Jul 2011 - Current</h6>
	</header>
	<section>
		<ul>
			<li>Assist President with Department of Defense funded modeling and simulation research projects</li>
			<li>Build and maintain all online assets including a modern website</li>
			<li>Create compelling visualizations for proposals and presentations</li>
			<li>Provide technical support and hardware purchasing advise</li>
		</ul>
	</section>
</div>
