<table class="pretty">
	<thead>
		<tr>
			<th>Key</th>
			<th>Fingerprint</th>
			<th>ID</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="signing.txt" title="Signing Key">0x1B9B657B</a></td>
			<td><br />7023 30FB 2A30 842F 31C9 45D7 8386 A4AB 1B9B 657B</td>
			<td>Brett Cooley (brc) <br />
			&nbsp;&nbsp;&nbsp;&nbsp;&lt;{{site.email}}&gt;</td>
		</tr>
		<tr>
			<td><a href="personal.txt" title="Personal key">0x1F2A588E</a></td>
			<td><br />1685 DCD4 BF91 17F9 82D5 E62E 4280 C27D 1F2A 588E</td>
			<td>Brett Cooley (personal)<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&lt;{{site.email}}&gt;</td>
		</tr>
	</tbody>
</table>
