<div id="skill-gh" class="container large-w med-h mason">
	<header>
		<h2>Github</h2>
	</header>
	<ul>
		<li>10+ public projects, including open-source contributions and personal projects ranging from websites to automation utilities to customized dotfiles</li>
		<li><a href="//github.com/brcooley/dynamx_web">Public website</a> for DynamX Consulting, utilizing modern technologies including HTML5, CSS3, and <a href="//d3js.org">d3.js</a></li>
		<li><a href="//github.com/brcooley/drupdate">Automation</a> for Drupal updating and deployment to shared hosting via FTP</li>
		<li>Issues and pull request for popular open source software including Github's own <a href="//github.com/github/linguist/pull/218">linguist</a> and Python testing framework <a href="//github.com/nose-devs/nose/issues/526">nose</a>, among others</li>
	</ul>
</div>