<div id="edu-icpc" class="container med-w med-h mason">
	<header>
		<h2><abbr title="Association for Computing Machinery">ACM</abbr> <abbr title="International Collegiate Programming Contest">ICPC</abbr></h2>
	</header>
	<section>
		<ul>
			<li>Only sophomore member from W&amp;M to compete, placed 1<sup>st</sup> on-site, 12<sup>th</sup> out of 166 teams (2010 Regionals)</li>
			<li>Lead first W&amp;M team to qualify for world finals, placing 1<sup>st</sup> on-site and 2<sup>nd</sup> out of 164 teams (2011 Regionals)</li>
			<li>Competed at the North American practice contest hosted by University of Chicago, and world finals hosted by University of Warsaw in Warsaw, Poland (2012 World Finals)</li>
		</ul>
	</section>
</div>
