<div id="skill-lang" class="container small-w mason large-h">
	<header>
		<h2>Lanugages &amp; Tools</h2>
	</header>
	<section>
		<ul>
			<li>Python (Everything)</li>
			<li>C/C++ (Drivers, Networking)</li>
			<li>git (<abbr title="Distributed Version Control System">DVCS</abbr>)</li>
			<li>Sublime Text 2 (Text editor)</li>
			<li>Java (Algorithms, Android)</li>
			<li>HTML/CSS (Modern websites)</li>
			<li>Sass (Better CSS)</li>
			<li>Scala (Type System)</li>
			<li>Bash (System control)</li>
			<li>Javascript (Cross-Platform Mobile)</li>
			<li>VirtualBox (Testing)</li>
			<li>Erlang (Learning)</li>

		</ul>
	</section>
</div>