<div id="work-ms" class="container med-w med-h mason">
	<header>
		<h2>Microsoft Azure (Networking)</h2>
		<h4>SDET Intern</h4>
		<h6>Jun 2012 - Aug 2012</h6>
	</header>
	<section>
		<ul>
			<li>Developed internal tool for simulating network failure and congestion (fault-injection)</li>
			<li>Saw project from concept to completion including design, architecture, implementation, testing, and documentation</li>
			<li>Presented project in front of <abbr title="Corporate Vice President">CVP</abbr> of Server &amp; Cloud Division, received positive feedback on project and presentation</li>
		</ul>
	</section>
</div>