<div id="why" class="container mason large-w med-h">
	<header>
		<h2>Why <span id="company-name"><noscript>you</noscript></span> should hire me</h2>
	</header>
	<section id="pitch">
		<noscript><ul>
			<li>I am driven by a desire to design, implement, test, and scale elegant and effective code.  This is something that applies to every project, regardless of language or size</li>
			<li>I have a passion for software, and view developing it as a craft. I strongly believe in meritocracy, and will debate anything to find the best ideas</li>
			<li>I enjoy working on the full stack, diving into everything from the kernel to CSS. I'm not afraid of jumping into other people's code, fixing bugs, and submitting them back upstream</li>
		</ul></noscript>
		<h5>Check out my work experience, education, and code; then get in touch with me via <a href="mailto:{{ site.email }}">email</a> or by <a href="tel:{{ site.phone }}">phone</a>.</h5>
	</section>
</div>
