<div id="skill-so" class="container med-w mason small-h">
	<header>
		<h2>Stack Overflow</h2>
	</header>
	<section>
		<ul>
			<li>Over 1,300 points for over 50 answers</li>
			<li>Answers on topics from <a href="//stackoverflow.com/a/7812002/950912">temporal locality</a> to <a href="//stackoverflow.com/a/7770477/950912">hybrid sorting efficiencies</a> to <a href="//stackoverflow.com/a/7728798/950912">graph algorithms</a> and <a href="//stackoverflow.com/users/950912?tab=answers">many others</a></li>
		</ul>
	</section>
</div>