<div id="edu-main" class="container med-w large-h mason">
	<header>
		<h2>College of William &amp; Mary</h2>
		<h4>B.S. Computer Science &amp; Mathematics</h4>
		<h6>Aug 2009 - May 2013</h6>
	</header>
	<section>
		<ul>
			<li>CS classes covering data structures, algorithms, systems programming, architecture, network security, and <abbr title="General Purpose Graphical Processing Unit">GPGPU</abbr> programming</li>
			<li>Math classes covering calculus, linear algebra, matrix analysis, operations research, abstract algebra, probability, and quantum computing</li>
			<li>Defending an senior honors thesis in Computer Science</li>
			<li>Current cumulative GPA of 3.67</li>
			<li>Received Monroe Scholarship (Spring 2011) and Jane Mahoney Scholarship (Fall 2011) for outstanding academic achievement</li>
			<li>Organized and facilitated first two W&amp;M Hackathons (Spring/Fall 2012), organizing third W&amp;M hackathon for Spring 2013</li>
			<li>Current W&amp;M Student ACM President (2011-Present)</li>
		</ul>
	</section>
</div>