<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Brett Cooley" />
	<title>{% if page.title != 'Syntax Optional' %}{{ site.name }} - {% endif %}{{ page.title }}</title>
	<link rel="stylesheet" href="/css/a.css" />
	<script src="/js/ga.js"></script>
	<script src="/js/jquery.min.js"></script>
	{% if page.title == 'Syntax Optional' %}<script src="/js/d3.v3.min.js"></script>{% endif %}
</head>
<body>
	<header class="rail">
        <a id="main" href="/" tabindex="1"><span class="uname">br</span><span class="const">ett_</span><span class="uname">cooley</span></a>
        <a class="child" href="/about" tabindex="3">about</a>
        <a class="child" href="/resume" tabindex="2">resume</a>
    </header>
    {{ content }}
    <footer class="rail">
        - 2016 -
    </footer>
</body>
{% if page.title == 'Syntax Optional' %}{% include a.js %}{% endif %}
</html>
