<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Brett Cooley" />
	<meta name="description" content="Personal website and blog" />
	<title>{{ page.title }} - Brett Cooley</title>
	<link rel="stylesheet" href="/css/resume.css" />
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28907940-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script> <!-- Need to chage to include from src -->
</head>
<body>
	<div id="content">
		<header><a href="/resume">Brett Cooley</a></header>
		<div id="return"><a href="//cooleyweb.org">Syntax Optional</a></div>
		<div id="sep"><hr class="implied"></div>
		<nav>
			{% if page.title == 'Work' %} class="selected"{% endif %}
			<a href="/resume/work"><div class="nav-item">WORK</div></a>
			<a href="/resume/education"><div class="nav-item selected">EDUCATION</div></a>
			<a href="/resume/skills"><div class="nav-item">SKILLS</div></a>
			<a href="/resume/projects"><div class="nav-item">PROJECTS</div></a>
			<a href="/resume/contact"><div class="nav-item">CONTACT</div></a>
		</nav>
		<section>
			<div id="graphic"></div>
			<div id="page-text">
				{{ content }}
			</div>
		</section>
		<footer>
			Last Updated: {{ site.time | date: "%B %d, %Y"}}
		</footer>
	</div>
</body>
<script type="text/javascript" src="resume.json"></script>
<script type="text/javascript">
// 	var w = "100%",
// 		h = "40%",
// 		color = d3.interpolateRgb("#ddd", "#444");

// 	var graph = d3.select("#graphic")
// 		.append("svg")
// 			.attr("width", w)
// 			.attr("height", h);

// 	var area = d3.svg.area();
// 	var stack = d3.layout.stack()
// 		.values(function(d) { return d; })

// 	var resume = get_resume(),
// 		raw_data = [];

// 	for (var i = resume.events.length - 1; i >= 0; i--) {
// 		raw_data
// 		for (var j = resume.events[i].data.length - 1; j >= 0; j--) {
// 			raw_data.push(resume.events[i].data[j]);
// 		};
// 	};

// 	graph.selectAll("path")
// 		.data(resume.events)
// 		.enter().append("svg:path")
// 			.attr("d",area)
// 			.style("fill", function() { return color(Math.random()); });
</script>
<script type="text/javascript">
	var n = 20, // number of layers
	    m = 200, // number of samples per layer
	    data0 = d3.layout.stack().offset("wiggle")(stream_layers(n, m)),
	    color = d3.interpolateRgb("#ccc", "#444");

	var width = (window.screen.availWidth * 
			( .6	// Body width
			* .88	// Section width
			* .8 	// Graphic width
			)),
	    height = window.screen.availHeight * .4, // Made up
	    mx = m - 1,
	    my = d3.max(data0, function(d) {
	      return d3.max(d, function(d) {
	        return d.y0 + d.y;
	      });
	    });

	var area = d3.svg.area()
	    .x(function(d) { return d.x * width / mx; })
	    .y0(function(d) { return height - d.y0 * height / my; })
	    .y1(function(d) { return height - (d.y + d.y0) * height / my; });

	var vis = d3.select("#graphic")
	  .append("svg")
	    .attr("width", width)
	    .attr("height", height);

	vis.selectAll("path")
	    .data(data0)
	  .enter().append("path")
	    .style("fill", function() { return color(Math.random()); })
	    .attr("d", area);

	/* Inspired by Lee Byron's test data generator. */
	function stream_layers(n, m, o) {
	  if (arguments.length < 3) o = 0;
	  function bump(a) {
	    var x = 1 / (.1 + Math.random()),
	        y = 2 * Math.random() - .5,
	        z = 10 / (.1 + Math.random());
	    for (var i = 0; i < m; i++) {
	      var w = (i / m - y) * z;
	      a[i] += x * Math.exp(-w * w);
	    }
	  }
	  return d3.range(n).map(function() {
	      var a = [], i;
	      for (i = 0; i < m; i++) a[i] = o + o * Math.random();
	      for (i = 0; i < 5; i++) bump(a);
	      return a.map(stream_index);
	    });
	}

	function stream_index(d, i) {
	  return {x: i, y: Math.max(0, d)};
	}
</script>
</html>