<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Brett Cooley" />
	<meta name="description" content="Personal website and blog" />
	<title>Brett Cooley - {{ page.title }}</title>
	<link rel="stylesheet" href="/css/resume.css" />
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28907940-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.5.0"></script> <!-- Need to chage to include from src -->
</head>
<body>
	<div id="content">
		<header><a href="/resume">Brett Cooley</a></header>
		<div id="return"><a href="//cooleyweb.org">Syntax Optional</a></div>
		<hr class="implied">
		<nav>
			{% if page.title == 'Work' %} class="selected"{% endif %}
			<a href="/resume/work"><div class="nav-item">WORK</div></a>
			<a href="/resume/education"><div class="nav-item selected">EDUCATION</div></a>
			<a href="/resume/skills"><div class="nav-item">SKILLS</div></a>
			<a href="/resume/projects"><div class="nav-item">PROJECTS</div></a>
			<a href="/resume/contact"><div class="nav-item">CONTACT</div></a>
		</nav>
		<section>
			<div id="graphic"></div>
			<div id="pitch">
				{{ content }}
			</div>
		</section>
		<footer>
			Last Updated: {{ site.time | date: "%B %d, %Y"}}
		</footer>
	</div>
</body>
</html>